<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div th:replace="fragments/general.html :: header"></div>
        <div class="columns is-desktop is-centered">
            <div class="column p-5 is-one-third">
                <h1>Recherche vol</h1>
                <form  th:object="${flighAttr}"
                       >

                    <div class='is-flex is-justify-content-space-between'>
                        <div class="field">
                            <label class="label">Ville départ</label>
                            <div class="control wrapper wrapper-departure">
                                <input th:field="*{townOrigin}" class="input" type="text" name="search" id="search-departure" placeholder="" autocomplete="chrome-off">
                                <div class="results">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Ville arrivée</label>
                            <div class="control wrapper wrapper-arriving">
                                <input th:field="*{townDest}" class="input" type="text" name="search" id="search-arriving" placeholder="" autocomplete="chrome-off">
                                <div class="results">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='is-flex is-justify-content-space-between'>
                        <div class="field">
                            <label class="label">Date départ:</label>
                            <div class="control">
                                <input class="input"  th:field="*{date_flight_departure}" type='datetime-local'/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date arrivée:</label>
                            <div class="control">
                                <input class="input" th:field="*{date_flight_arriving}" type='datetime-local'/>
                            </div>
                        </div>
                    </div>
                    <div class='is-flex is-justify-content-space-between'>
                        <div class="field">
                            <label class="label">Option</label>
                            <div class="select">
                                <select  th:field="*{option}">
                                    <option value="1">Aller-Retour</option>
                                    <option value="2">Aller-Simple</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Classe</label>
                            <div class="select">
                                <select  th:field="*{id_placeType}">
                                    <option th:each="type: ${placetypes}" th:value="${type.getId()}" th:text="${type.getName()}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='is-flex is-justify-content-space-between'>
                        <div class="field">
                            <label class="label">Nombre adultes:</label>
                            <div class="control">
                                <input class="input"  th:field="*{adultCount}" type='number'/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nombre enfants:</label>
                            <div class="control">
                                <input class="input"  th:field="*{childCount}" type='number'/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nombre bébés:</label>
                            <div class="control">
                                <input class="input"  th:field="*{babyCount}" type='number'/>
                            </div>
                        </div>
                    </div>


                </form>
                <div class="buttons">
                    <button id="buttonVald" class="button is-primary is-fullwidth">Valider</button>
                </div>


            </div>
        </div>

        <div class="">
            <h2 class="title is-2 my-5">Aller</h2>


            <table id="myTable" class="table is-bordered mt-2">
                <thead>
                    <tr>
                        <th>Date Départ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>



            <h2 class="title is-2 my-5">Retour</h2>
            <table id="myTableArr" class="table is-bordered mt-2">
                <thead>
                    <tr>
                        <th>Date Départ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>

        </div>
        <div th:replace="fragments/general.html :: footer"></div>
        <script>
            $(function () {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });

                $("#buttonVald").click(function () {
                    $.ajax({
                        url: "http://localhost:8080/flight-search-rest",
                        type: "POST",
                        data: JSON.stringify({
                            townOrigin: "antananarivo",
                            townDest: "new york",
                            date_flight_departure: '2021-07-01',
                            date_flight_arriving: '2021-08-01',
                            adultCount: 3,
                            option: '1',
                            id_placeType: 2}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            if (data.data && data.data.length > 1) {
                                let flightDeparture = data.data[0];
                                $("#myTable tbody tr").empty();
                                console.log(flightDeparture);
                                flightDeparture.forEach((flight) => {
                                    $('#myTable > tbody:last-child').append(`<tr><td>${flight.date_flight_departure}</td></tr>`);
                                });
                                
                                let flightArr = data.data[1];
                                $("#myTableArr tbody tr").empty();
                                flightArr.forEach((flight) => {
                                    $('#myTableArr > tbody:last-child').append(`<tr><td>${flight.date_flight_departure}</td></tr>`);
                                })
                            }


                        },
                    });
                });



            });

        </script>
    </body>
</html>