<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div class="columns">
            <div class="" th:replace="fragments/general.html :: header"></div>
        
            <div id="mn-content" class="column">
                <div th:replace="fragments/general.html :: messages"></div>
                <div class="columns is-centered">
                    <div class="column is-four-fifths">
                        <h1 class="is-size-1">Liste vols</h1>
                        <a class="button is-small is-primary" th:href="@{/flight-form}">Nouveau vol</a>
        
                        <table class="table is-bordered mt-2">
                            <thead>
                                <tr>
                                    <th>Départ</th>
                                    <th>Destination</th>
                                    <th>Date départ</th>
                                    <th>Date arrivée</th>
                                    <th>Avion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="flight: ${flights}">
                                    <td th:text="${flight.getRoute().getTownOrigin().getName()}" />
                                    <td th:text="${flight.getRoute().getTownDest().getName()}" />
                                    <td th:text="${#dates.format(flight.getDate_flight_departure(), 'dd-MMM-yyyy HH:mm')}" />
                                    <td th:text="${#dates.format(flight.getDate_flight_arriving(), 'dd-MMM-yyyy HH:mm')}" />
                                    <td th:text="${flight.getPlane().getName()}" />
        
                                </tr>
                            </tbody>
                        </table>
                        <nav th:if="${numberpages > 0}" class="pagination is-centered" role="navigation" aria-label="pagination">
                            <a th:href="@{/flight(page=${prev})}"  class="pagination-previous">Previous</a>
                            <a th:href="@{/flight(page=${next})}" class="pagination-next">Next page</a>
                            <ul class="pagination-list">
                                <li  th:each="iter: ${#numbers.sequence(1, __${numberpages}__)}">
                                    <a
                                        th:classappend="${(iter-1== page) ? 'is-current': ''}"
                                        th:href="@{/flight(page=${iter-1})}"
                                        th:text="${iter}" class="pagination-link">-1</a></li>
                            </ul>
                        </nav>
        
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html> 
