<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div class="columns">
            <div class="" th:replace="fragments/general.html :: header"></div>
        
            <div id="mn-content" class="column">
                <div th:replace="fragments/general.html :: messages"></div>
                <div class="columns is-centered">
                    <div class="column is-four-fifths">
                        <h1 class="is-size-1">Liste prix</h1>
                        <a class="button is-small is-primary" th:href="@{/pricing-form}">Nouveau prix</a>
        
                        <table class="table is-bordered mt-2">
                            <thead>
                                <tr>
                                    <th>Ville départ</th>
                                    <th>Ville destination</th>
                                    <th>Catégorie passager</th>
                                    <th>Type de place</th>
                                    <th>Prix</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pricing: ${pricings}">
                                    <td th:text="${pricing.getRoute().getTownOrigin().getName()}" />
                                    <td th:text="${pricing.getRoute().getTownDest().getName()}" />
                                    <td th:text="${pricing.getPassenger_categ()}" />
                                    <td th:text="${pricing.getPlaceType().getName()}" />
                                    <td th:text="${#numbers.formatDecimal(pricing.getPrice(),3,'POINT',2,'COMMA')}" />
                                </tr>
                            </tbody>
                        </table>
                        
                        
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html> 
