<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div class="columns">
            <div class="" th:replace="fragments/general.html :: header"></div>
        
            <div id="mn-content" class="column">
                <div th:replace="fragments/general.html :: messages"></div>
                <h1 class="is-size-1 px-5"><u>Statistique paiements</u></h1>
                <div class="columns p-5 is-desktop is-centered">
                    <div class="column">
                        <h2 class="is-size-3">Montant journalier</h2>
                        <canvas id="myChart" height="350px"></canvas>
                    </div>
                </div>
            </div>
        </div>
       
        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html> 
