<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div th:replace="fragments/general.html :: header"></div>
        <h1 class="is-size-1 px-5">Statistiques paiements</h1>
        <div class="columns p-5">
            <div class="column">
                <h2 class="is-size-2">Montant journalier</h2>
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <div class="column">
                <h2 class="is-size-2">Montant par Trajet</h2>
                <canvas id="myChart1" width="200" height="200"></canvas>
            </div>
        </div>
        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html> 
