<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div class="columns">
            <div class="" th:replace="fragments/general.html :: header"></div>
        
            <div id="mn-content" class="column">
                <div th:replace="fragments/general.html :: messages"></div>
                <div class="columns is-desktop is-centered">
                    <div class="column p-5 is-one-third">
                        <h1 th:if="${isupdate == null || isupdate == false}">Nouveal utilisateur</h1>
                        <h1 th:if="${isupdate != null && isupdate == true}">Mise à jour</h1>
                      
                        <form th:object="${userAttr}"
                           method="post"
                           th:action="${isupdate != null && isupdate == true}?@{/users-update}:@{/users}"
                           >
                            <input type="hidden" th:value="${userAttr.id}" />
                            <div class="field">
                                <label class="label">Nom</label>
                                <div class="control">
                                    <input class="input"  th:field="*{name}" type='text'/>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Mot de passe</label>
                                <div class="control">
                                    <input class="input"  th:field="*{password}" type='text'/>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Type</label>
                                <div class="select">
                                    <select class="input" th:field="*{user_type}">
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                    </select>
                                </div>
                            </div>  
        
                            <div class="button is-smalls">
                                <button 
                                        class="button is-small is-primary is-fullwidth" type="submit">Valider</button>
                            </div>
        
                        </form>
        
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>